body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0.25turn, #ffb4ac, #beadbb, #ffebd3);
  padding: 0 auto;
  color: #264e70;
}
h1 {
  color: #112536;
  font-size: 30px;
  font-weight: 350;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #112536;
  font-size: 16px;
  font-weight: 200;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 2px solid #112536;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #112536;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

h2 {
  margin-top: 100px;
  border-style: double;
  padding: 25px;
  background-color: #ffffff;
}
.input-group {
  padding: 25px;
}
.fa-sun {
  color: #ffc93c;
}
.fa-cloud-rain {
  color: #38598b;
}
.high-low {
  opacity: 80%;
}
.city {
  font-weight: bold;
  margin-top: 125px;
}
.days {
  font-weight: 900;
}
.current {
  background: #112536;
  border-color: #000000;
}
.btn:hover {
  color: #000000;
  background: #beadbb;
  border-color: #000000;
}
.newSearch {
  background: #264e70;
  border-color: #000000;
}
.newSearch.hover {
  background: #beadbb;
  border-color: #000000;
}
.card {
  border-color: #112536;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 20px;
}
